@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.main {
    background-image: url("assests/Images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}

.main .box {
    height: 700px;
    width: 100%;
    opacity: 0.71;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 76vw;
    margin: auto;
    position: relative;
    z-index: 10;
    height: 100px;
    align-items: center;
}

nav img{
    width: 150px;
}
.right-top{
    display: flex;
}
.imgg{
    display: flex;
    border: 2px solid #ffffff59;
    margin-right: 1vw;
    padding: 4px 25px;
    border-radius: 8px;
}
.imgg img{
    width: 20px;
    height: 20px;
}

.eng{
    color: white;
    padding-left: 10px;
}

nav .sign{
    background-color: red;
    color: white;
    padding: 5px 17px;
    border-radius: 8px;
    font-weight: 600;
}

main{
    color: white;
    position: relative;
    z-index: 1;
    /* border: 2px solid; */
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .mid{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mid h1{
    font-size: 45px;
}
.mid .f{
    font-size: 22px;
}
.mid .s{
    font-size: 19px;
}

.mid-btns input{
    background-color: #00000000;
    width: 35%;
    padding: 19px;
    border-radius: 8px;
    border: 0.5px solid #ffffff6b;
    color: white;
}
.btn-red{
    background-color: red;
    width: 24%;
    padding: 10px 5px 15px 5px;
    font-size: 21px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}


.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

/* first */
.slide-1{
    /* border: 2px solid white; */
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    
}
.slide-1 .left-1{
    /* border: 2px solid white; */
    width: 45vw;
    height: auto;
    color: white;
}
.slide-1 .left-1 h1{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}
.slide-1 .left-1 p{
    font-size: 22px;
}
.slide-1 .right-1{
    display: flex;
}
.slide-1 .right-1 img{
    width: 35vw;
    height: auto;
    position: relative;
    z-index: 20;
}
.slide-1 .right-1 video{
    width: 26vw;
    height: auto;
    position: absolute;
    margin-top: 5vw;
    margin-left: 4vw;
}

.slide-1 .right-1 .video-3{
    width: 21vw;
    height: auto;
    position: absolute;
    margin-top: 2vw;
    margin-left: 7vw;
}
.slide-1 .right-2{
    display: flex;
    position: relative;
}
.right-2 img{
    width: 35vw;
}
.stranger{
    border: 2px solid white;
    height: 80px;
    width: 53%;
    position: absolute;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    display: flex;
    background-color: black;
    color: white;
    padding: 9px;
    gap: 19px;
    justify-content: center;
    align-items: center;
}

.stranger img{
    height: 90%;
    width: 22%;
}
.stranger p{
    font-size: 15px;
}
.stranger .ss{
    height: 34%;
    width: 15%;
}
.slide-2{
    flex-direction: row-reverse;
}

/* questions */
.question{
    /* border: 2px solid white; */
    height: 800px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 8px;
}
.question h1{
    font-size: 3rem;
    font-weight: 900;
}
.boxes-1{
    /* border: 2px solid white; */
    width: 71vw;
    font-size: 24px;
    padding: 22px;
    background-color: #2d2d2d;
    display: flex;
    justify-content: space-between;
}
.boxes-1:hover {
    background-color: rgb(98, 98, 98)
}

.question .s{
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.q-btn{
    /* border: 2px solid white; */
    width: 40vw;
}
.q-btn input{
    background-color: #00000000;
    width: 52%;
    padding: 19px;
    border-radius: 8px;
    border: 0.5px solid #ffffff6b;
    color: white;
}

.redd{
    background-color: red;
    width: 32%;
    padding: 10px 5px 15px 5px;
    font-size: 21px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

/* footer */
footer {
    /* border: 2px solid white; */
    color: white;
    padding: 20px;
    width: 80vw;
    margin: auto;
    height: 300px;
}

.questions {
    margin-bottom: 20px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
    gap: 20px; /* Optional: Add space between columns */
}

.footer-item {
    display: flex;
    flex-direction: column; /* Arrange links in a column */
}

.footer-item a {
    color: #999;
    text-decoration: none;
    margin-bottom: 15px;
}

.footer-item a:hover {
    text-decoration: underline;
}
.lastt{
    margin-left: 39vw;
}

